@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/MuseoSansRounded-100.eot');
  src: local('Museo Sans Rounded 100'), local('MuseoSansRounded-100'),
    url('/fonts/MuseoSansRounded-100.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansRounded-100.woff2') format('woff2'),
    url('/fonts/MuseoSansRounded-100.woff') format('woff'),
    url('/fonts/MuseoSansRounded-100.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/MuseoSansRounded-300.eot');
  src: local('Museo Sans Rounded 300'), local('MuseoSansRounded-300'),
    url('/fonts/MuseoSansRounded-300.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansRounded-300.woff2') format('woff2'),
    url('/fonts/MuseoSansRounded-300.woff') format('woff'),
    url('/fonts/MuseoSansRounded-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/MuseoSansRounded-500.eot');
  src: local('Museo Sans Rounded 500'), local('MuseoSansRounded-500'),
    url('/fonts/MuseoSansRounded-500.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansRounded-500.woff2') format('woff2'),
    url('/fonts/MuseoSansRounded-500.woff') format('woff'),
    url('/fonts/MuseoSansRounded-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/MuseoSansRounded-700.eot');
  src: local('Museo Sans Rounded 700'), local('MuseoSansRounded-700'),
    url('/fonts/MuseoSansRounded-700.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansRounded-700.woff2') format('woff2'),
    url('/fonts/MuseoSansRounded-700.woff') format('woff'),
    url('/fonts/MuseoSansRounded-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/MuseoSansRounded-900.eot');
  src: local('Museo Sans Rounded 900'), local('MuseoSansRounded-900'),
    url('/fonts/MuseoSansRounded-900.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansRounded-900.woff2') format('woff2'),
    url('/fonts/MuseoSansRounded-900.woff') format('woff'),
    url('/fonts/MuseoSansRounded-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/MuseoSansRounded-1000.eot');
  src: local('Museo Sans Rounded 1000'), local('MuseoSansRounded-1000'),
    url('/fonts/MuseoSansRounded-1000.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSansRounded-1000.woff2') format('woff2'),
    url('/fonts/MuseoSansRounded-1000.woff') format('woff'),
    url('/fonts/MuseoSansRounded-1000.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}

@keyframes waveEffectIn {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
}

@keyframes waveEffectOut {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) scale(0);
    opacity: 1;
  }
}

.button {
  position: relative;
  overflow: hidden;
}

.button.selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  /* 200% pour être sûr que le cercle couvre tout le bouton */
  height: 700px;
  border-radius: 50%;
  /* rend l'élément rond */
  background: #E4E4E4;
  animation: waveEffectIn 1s forwards;
  opacity: 1;
  z-index: -11;
  --tw-bg-opacity: 0.4;
  opacity: 0.4;
}

.button.deselected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  /* 200% pour être sûr que le cercle couvre tout le bouton */
  height: 700px;
  border-radius: 50%;
  /* rend l'élément rond */
  background: #E4E4E4;
  animation: waveEffectOut 1s forwards;
  opacity: 1;
  z-index: -11;
  --tw-bg-opacity: 0.4;
  opacity: 0.4;
}